<h2 class="standard-header">Word Definitions</h2>

<ul>
  <% word_list = [] %>
  <% @words.each() do |word| %>
    <% word_list.push(word.self()) %>
  <% end %>
  <% word_list.sort().each() do |word| %>
    <li><a href="/words/<%= word %>"><%= word.capitalize() %></a></li>
  <% end %>
</ul>

<a class="add-new-word-link" href="/words/new">Add New Word</a>
