<h2>Add a New Word</h2>

<form action="/" method="post">
  <label for="word_name">Word</label>
  <input type="text" id="word_name" name="word_name" autofocus="autofocus" required>
  <p></p>
  <label for="word_definition">Word Definition</label>
  <input type="text" id="word_definition" name="word_definition" size="100">
  <p></p>
  <button type="button" class="btn">Submit</button>
</form>
