<h2 class="standard-header">Add a New Word</h2>

<form action="/" method="post">
  <div class="form-group">
    <label for="word_name" class="standard-label">Word</label>
    <input type="text" class="form-control" id="word_name" name="word_name" autofocus="autofocus" required>
    <p></p>
    <label for="word_definition" class="standard-label">Word Definition</label>
    <input type="text" class="form-control" id="word_definition" name="word_definition" placeholder="optional">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
